<div class="container px-5 px-sm-0">
<% unless current_user.freeze %>
  <div class="row pt-3">
    <div class="col-md-3">
      <%= render 'error', new_car: new_car %>
      <%= render 'public/users/information', user: user %>
      <%= render 'create_form', car: new_car %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>レビュー投稿一覧 (新着順)</h2>
      <p></p>
      <%= form_tag cars_path, method: :get, class:"boards_searchForm" do %>
        <%= select_tag :tag_id,
          options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
          {
            prompt: "タグで絞り込み検索",
            onchange: "submit(this.form);"
          }
        %>
      <% end %>
      <p></p>
      <table class="table table-hover table-inverse">
        <% cars.each do |car| %>
        <tr>
          <td>
            <% if car.image.attached? %>
              <%= link_to car_path(car.id) do %>
                <%= image_tag car.image, size: "100x100" %>
              <% end %>
            <% else %>
              <%= link_to car_path(car.id) do %>
                <%= image_tag 'no_image_car', size: "100x100" %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to car.user.name, user_path(car.user.id) %></td>
          <td><%= link_to car.title, car_path(car.id) %></td>
          <td><%= car.body %></td>
          <td>
            <% car.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </td>
          <td>
            <div id="star-rate<%= car.id %>">
              <script>
                $('#star-rate<%= car.id %>').empty();
                $('#star-rate<%= car.id%>').raty({
                 size      : 36,
                 starOff   : '<%= asset_path('star-off.png') %>',
                 starOn    : '<%= asset_path('star-on.png') %>',
                 half      : false,
                 readOnly: true,
                 score: <%= car.star %>,
                });
              </script>
            </div>
          </td>
          <td id="favorite_buttons_<%= car.id %>">
            <%= render 'public/favorites/favorites-btn', car: car %>
          </td>
          <td>
            <p><%= link_to "#{car.comments.count} コメント", car_path(car.id) %></p>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  <h2>本アカウントは凍結中です。</h2>
<% end %>
</div>