<div class="container px-5 px-sm-0">
<% unless current_user.freeze %>
  <div class="row pt-3">
    <div class="col-md-3">
      <%= render 'public/users/users_error', user: user %>
      <%= render 'error', new_car: new_car %>
      <%= render 'public/users/information', user: user %>
      <p></p>
      <%= render 'create_form', car: new_car %>
    </div>
    <div class="col-md-8 offset-md-1">
      <p></p>
      <h2 class="text-center">レビュー投稿一覧 (新着順)</h2>
      <%= form_tag cars_path, method: :get, class:"boards_searchForm text-center" do %>
        <%= select_tag :tag_id,
          options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
          {
            prompt: "タグで絞り込み検索",
            onchange: "submit(this.form);"
          }
        %>
      <% end %>
      <div class="row">
        <% cars.each do |car| %>
        <div class="col-md-5 card w-50 mx-auto mt-5 shadow text-center">
          <% if car.image.attached? %>
            <%= link_to car_path(car.id) do %>
              <%= image_tag car.image, size: "300x200", class:"card-img-top mt-3" %>
            <% end %>
          <% else %>
            <%= link_to car_path(car.id) do %>
              <%= image_tag 'no_image_car', size: "300x200", class:"card-img-top mt-3" %>
            <% end %>
          <% end %>
          <div class="car-body">
              <%= link_to user_path(car.user.id) do %>
                <%= image_tag car.user.get_profile_image(70,70), class:"mt-3 rounded-circle" %>
              <% end %>
              <i class="fas fa-user"></i> by <%= car.user.name %>
            <div class="car-title font-large">
              <%= link_to car.title, car_path(car.id) %>
            </div>
            <p></p>
            <div class="cat-tag">
              <% car.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </div>
            <div class="car-star">
              <div id="star-rate<%= car.id %>">
                <script>
                  $('#star-rate<%= car.id %>').empty();
                  $('#star-rate<%= car.id%>').raty({
                   size      : 36,
                   starOff   : '<%= asset_path('star-off.png') %>',
                   starOn    : '<%= asset_path('star-on.png') %>',
                   half      : false,
                   readOnly: true,
                   score: <%= car.star %>,
                  });
                </script>
              </div>
            </div>
            <div class="car-favorite">
              <div id="favorite_buttons_<%= car.id %>">
                <%= render 'public/favorites/favorites-btn', car: car %>
              </div>
            </div>
            <div class="car-comment">
              <%= link_to "#{car.comments.count} コメント", car_path(car.id) %>
            </div>
            <div class="car-date">
              投稿日：<%= car.created_at.strftime('%Y/%m/%d') %>
            </div>
            <div class="car-btn">
              <%= link_to "レビュー詳細", car_path(car.id), class:"btn btn-sm btn-info" %>
            </div>
            <p></p>
          </div>
        </div>
        <% end %>
      </div>
    <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center">
      <%= paginate cars %>
    </div>
    </div>
    </div>
    </div>
  </div>
<% else %>
  <h2>本アカウントは凍結中です。</h2>
<% end %>
</div>