<div class="container px-5 px-sm-0">
  <div class="row pt-3">
    <div class="col-md-10 offset-md-1">
      <h2>レビュー投稿一覧管理</h2>
      <p></p>
      <%= form_tag admin_cars_path, method: :get, class:"boards_searchForm" do %>
        <%= select_tag :tag_id,
          options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
          {
            prompt: "タグで絞り込み検索",
            onchange: "submit(this.form);"
          }
        %>
      <% end %>
      <p></p>
      <table class="table table-hover">
        <% @cars.each do |car| %>
        <tr>
          <td>
            <% if car.image.attached? %>
              <%= image_tag car.image, size: "100x100" %>
            <% else %>
              <%= image_tag asset_path('no_image_car'), size: "100x100" %>
            <% end %>
          </td>
          <td><%= car.user.name %></td>
          <td><%= car.title %></td>
          <td><%= car.body %></td>
          <td>
            <% car.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </td>
          <td>
            <div id="star-rate<%= car.id %>">
              <script>
                $('#star-rate<%= car.id %>').empty();
                $('#star-rate<%= car.id%>').raty({
                 size      : 36,
                 starOff   : '<%= asset_path('star-off.png') %>',
                 starOn    : '<%= asset_path('star-on.png') %>',
                 half      : false,
                 readOnly: true,
                 score: <%= car.star %>,
                });
              </script>
            </div>
          </td>
          <td>投稿日：<%= car.created_at.strftime('%Y/%m/%d') %></td>
          <td>
            <p><%= link_to "#{car.comments.count} コメント", admin_car_path(car.id) %></p>
          </td>
          <td><%= link_to "詳細", admin_car_path(car.id), class:"btn btn-sm btn-success" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
