<%= stylesheet_link_tag "car_user", :media => "all" %>
<div class="container px-5 px-sm-0">
<% unless current_user.freeze %>
  <div class="row pt-3">
    <div class="col-md-10 offset-md-1">
      <h2><i><span style="color:blue;"><%= @user.name %>さん</span>のフォローユーザー一覧</i></h2>
      <p></p>
      <% if users.exists? %>
        <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th><span style="font-size:13px;">ユーザー名</span></th>
              <th><span style="font-size:15px;">マイカー</span></th>
            </tr>
          </thead>
          <tbody>
            <% users.each do |user| %>
              <tr class="user_id_<%= user.id %>">
                <td>
                  <%= link_to user_path(user.id) do %>
                    <%= image_tag user.get_profile_image(100,100), class:"mt-3 rounded-circle" %>
                  <% end %>
                </td>
                <td><%= link_to user.name, user_path(user.id) %></td>
                <td><%= user.introduction %></td>
                <td class="follow_count" id="follow_count_<%= user.id %>">
                  <%= render 'public/relationships/follow_counter', user: user %>
                </td>
                <td class="follower_count" id="follower_count_<%= user.id %>">
                  <%= render 'public/relationships/follower_counter', user: user %>
                </td>
                <td id="follow_<%= user.id %>">
                  <%= render 'public/relationships/follow', user: user %>
                </td>
                <td><%= link_to "ユーザー詳細へ", user_path(user.id), class:"btn btn-sm btn-success" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      <% else %>
        <p>フォローユーザーはいません。</p>
      <% end %>
    </div>
  </div>
<% else %>
  <h2>本アカウントは凍結中です。</h2>
<% end %>
</div>