<div class="container px-5 px-sm-0">
  <div class="row pt-5">
  <div class="col-md-10 offset-md-1">
    <%= form_with model: @user, url: user_registration_path, method: :post do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <h2>新規ユーザー登録</h2>
      <p></p>
      <table>
        <tr>
          <td><%= f.label :name %></td>
          <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
        </tr>
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td><%= f.label :password, "パスワード (6字以上)" %></td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td><%= f.submit "登録する", class:"btn btn-sm btn-success" %></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </table>
      <p></p>
      <%= render "public/shared/links" %>
    <% end %>
  </div>
  </div>
</div>