<%= stylesheet_link_tag "car_user", :media => "all" %>
<div class="container px-5 px-sm-0">
  <div class="row pt-5">
  <div class="col-md-10 offset-md-1">
    <%= form_with model: @user, url: user_registration_path, method: :post do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <h2>< 新規ユーザー登録 ></h2>
      <p></p>
        <div class="row">
          <div class="col-12 col-md-4"><%= f.label :name %></div>
          <div class="col-12 col-md-8"><%= f.text_field :name, autofocus: true, autocomplete: "name" %></div>
        </div>
        <p></p>
        <div class="row">
          <div class="col-12 col-md-4"><%= f.label :email, "メールアドレス" %></div>
          <div class="col-12 col-md-8"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
        </div>
        <p></p>
        <div class="row">
          <div class="col-12 col-md-4"><%= f.label :password, "パスワード (6字以上)" %></div>
          <div class="col-12 col-md-8"><%= f.password_field :password, autocomplete: "new-password" %></div>
        </div>
        <p></p>
        <div class="row">
          <div class="col-12 col-md-4"><%= f.label :password_confirmation %></div>
          <div class="col-12 col-md-8"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <p></p>
        <div class="row">
          <div class="col-12"><%= f.submit "登録する", class:"btn btn-sm btn-success" %></div>
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
      <p></p>
      <%= render "public/shared/links" %>
    <% end %>
  </div>
  </div>
</div>