<h2>ユーザー情報</h2>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table table-hover">
  <tbody>
    <tr></tr>
    <tr>
      <th>ユーザー名</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>マイカー</th>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>フォロー数</th>
      <th class="follow_count">
        <%= render 'public/relationships/follow_counter', user: user %>
      </th>
    </tr>
    <tr>
      <th>フォロワー数</th>
      <th class="follower_count">
        <%= render 'public/relationships/follower_counter', user: user %>
      </th>
    </tr>
  </tbody>
</table>
<div class="row">
  <% if user == current_user %>
    <%= link_to "ユーザー情報編集", edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" %>
  <% else %>
    <div id="follow_<%= current_user.id %>">
      <%= render 'public/relationships/follow', user: user %>
    </div>
  <% end %>
</div>