<%= stylesheet_link_tag "car_user", :media => "all" %>
<div id="loading">
  <div class="spinner">
    <p class="loading-txt">Loading...</p>
  </div>
</div>
<div class="container px-5 px-sm-0">
<% unless current_user.freeze %>
  <div class="row pt-3">
    <div class="col-md-3">
      <%= render 'users_error', user: @user %>
      <%= render 'public/cars/error', new_car: @new_car %>
      <%= render 'information', user: @user %>
      <%= render 'public/cars/create_form', car: @new_car %>
    </div>
    <div class="col-md-8 offset-md-1">
      <p></p>
      <h2 class="text-center"><i><span style="color:blue;"><%= @user.name %>さん</span>のレビュー投稿一覧 (新着順)</i></h2>
      <div class="row">
        <% @cars.each do |car| %>
        <div class="col-md-5 card w-50 mx-auto mt-5 shadow text-center">
          <div class="car_img">
          <% if car.image.attached? %>
            <%= link_to car_path(car.id), data: {"turbolinks" => false} do %>
              <%= image_tag car.image, size: "300x200", class:"card-img-top mt-3 img-responsive center-block" %>
            <% end %>
          <% else %>
            <%= link_to car_path(car.id), data: {"turbolinks" => false} do %>
              <%= image_tag asset_path('no_image_car.jpg'), size: "300x200", class:"card-img-top mt-3 img-responsive center-block" %>
            <% end %>
          <% end %>
          </div>
          <p></p>
          <div class="car-body">
            <div class="car-title">
              <%= link_to car.title, car_path(car.id), data: {"turbolinks" => false} %>
            </div>
            <p></p>
            <div class="cat-tag">
              <% car.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </div>
            <div class="car-star">
              <div id="star-rate<%= car.id %>">
                <script>
                  $('#star-rate<%= car.id %>').empty();
                  $('#star-rate<%= car.id%>').raty({
                  size      : 36,
                  starOff   : '<%= asset_path('star-off.png') %>',
                  starOn    : '<%= asset_path('star-on.png') %>',
                  half      : false,
                  readOnly: true,
                  score: <%= car.star %>,
                  });
                </script>
              </div>
            </div>
            <p></p>
            <div class="car-favorite">
              <div id="favorite_buttons_<%= car.id %>">
                <%= render 'public/favorites/favorites-btn', car: car %>
              </div>
            </div>
            <div class="car-comment">
              <%= link_to "#{car.comments.count} コメント", car_path(car.id), data: {"turbolinks" => false} %>
            </div>
            <div class="car-date">
              投稿日：<%= car.created_at.strftime('%Y/%m/%d') %>
            </div>
            <p></p>
            <div class="car-btn">
              <%= link_to "レビュー詳細", car_path(car.id), data: {"turbolinks" => false}, class:"btn btn-sm btn-info" %>
            </div>
            <p></p>
          </div>
        </div>
        <% end %>
      </div>
      <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center">
          <%= paginate @cars %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p></p>
  <h2 class="text-center">本アカウントは凍結中です。</h2>
<% end %>
</div>
