<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <%#= link_to image_tag, root_path, class: "btn-btn-info pull-left ml-2" style ="width:250px;height:300px" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <span style="color:yellow;">ようこそ<%= current_user.name %>さん！</span>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to homes_about_path, class:"nav-link text-light btn btn-danger rounded-circle p-0" "style=width:2rem;height:2rem;" do %>
            <i class="fa-solid fa-question"></i>
            Carsとは
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_path(current_user), class:"nav-link text-light btn btn-danger rounded-circle p-0" "style=width:2rem;height:2rem;" do %>
            <i class="fa-solid fa-user"></i>
            マイページ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to cars_path, class:"nav-link text-light btn btn-danger rounded-circle p-0" "style=width:2rem;height:2rem;" do %>
            <i class="fa-sharp fa-solid fa-car"></i>
            レビュー
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light btn btn-danger rounded-circle p-0" "style=width:2rem;height:2rem;" do %>
            <i class="fas fa-sign-out-alt"></i>
            ログアウト
          <% end %>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav mr-auto">
      <li>
        <%= render "public/searches/form" %>
      </li>
    </ul>
</nav>