<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/8ebbdd50fb.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="shadow-sm">
      <% if admin_signed_in? %>
        <%= render "layouts/admin_header" %>
      <% elsif user_signed_in? %>
        <%= render "layouts/public_header" %>
      <% else %>
        <%= render "layouts/header" %>
      <% end %>
    </header>
    <main class="row pt-2">
      <% if flash[:notice] %>
        <p id="notice">
          <%= flash[:notice] %>
        </p>
      <% end %>
    </main>
    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <% if user_signed_in? %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              相手が不快になるようなレビュー・コメントの投稿はお控えいただきますようお願い申し上げます。</br>
              <i class="fa-sharp fa-solid fa-triangle-exclamation"></i><span style="color:red;">ゲストユーザー</span>はレビュー・コメントの投稿、いいね、ユーザーのフォローができません。
              <span style="color:blue;">新規登録</span>または<span style="color:blue;">ログイン</span>が必要です。
            <% end %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
